.Home {
  display: inline-block;
  height: 100%;
  width: 100%;
  .ant-layout {
    height: 100%;
    header {
      color: #ddd;
    }
    main {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 1rem 2rem;
    }
  }
}
